@use "../../../../../style" as *;

.header-container {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  background: #fff;
  z-index: 1000;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.logo-div {
  display: inline-flex;
  align-items: center;

  img {
    height: 35px;
    width: 87px;
    margin-right: 60px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: auto;
}

.nav-link {
  position: relative;
  color: $greyColor;
  margin-right: 40px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: $blackColor;
  }

  .dropdown-icon {
    fill: currentColor;
    stroke: currentColor;
    margin-left: 8px;
    transition: transform 0.2s ease;
  }

  &.active .dropdown-icon {
    transform: rotate(180deg);
  }
}

.burger-menu {
  display: none;
  position: relative;

  .burger-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 20px;
    z-index: 1100;
    transition: transform 0.3s ease;

    &.active {
      transform: rotate(180deg);
    }

    .menu-icon,
    .close-icon {
      display: block;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background-color: $whiteColor;
    padding: 80px 40px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1001;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    &.open {
      transform: translateX(0);
    }
  }

  .burger-icon svg {
    display: block;
  }

  .burger-icon .hidden {
    display: none;
  }

}

@media (max-width: 960px) {
  .header-container {
    padding: 20px;
  }

  .navbar,
  .login-registration {
    display: none;
  }

  .burger-menu {
    display: block;

    svg{
      z-index: 1100;
    }

    .navbar,
    .login-registration {
      display: block;
    }
  }
}