@use "../../../../../style" as *;

.header-container {
  padding: 20px 40px;

  .nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.logo-div, .navbar, .nav-link, .login-registration {
  margin: 0;
  padding: 0;
}

.logo-div {
  display: inline-flex;
  align-items: center;

  img {
    height: 35px;
    width: 87px;
    margin-right: 60px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: auto;
}

.nav-link {
  position: relative; /* Нужно для абсолютного позиционирования меню */
  color: $greyColor;
  margin-right: 40px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $blackColor;
  }


  .dropdown-icon {
    fill: $greyColor;
    stroke: $greyColor;
    margin-left: 8px;
  }
}

.show{
  display: block;
}

.none{
  display: none;
}

//Burger

.burger-menu{
  display: none;
}

.menu{
  background-color: $whiteColor;
  z-index: 1001;
}

//Media

@media (max-width: 960px) {
  .navbar{
    display: none;
  }

  .nav{
    display: flex;
    justify-content: space-between;
  }

  .burger-menu{
    display: block;

    .navbar{
      display: block;
    }

  }
}