@use "../../../../style" as *;

.information-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; // Ensure elements wrap on smaller screens
  padding: 20px; // Add padding for smaller screens

  .text-container {
    margin-right: 150px;

    h1 {
      font-weight: 700;
      font-size: 76px;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      padding-bottom: 10px;
    }

    p {
      color: $greyColor;
    }

    button {
      color: $whiteColor;
      cursor: pointer;
      padding: 18px 30px;
      background: $blackColor;
      border-radius: 15px;
      border: none;
      font-size: 17px;
      font-weight: 700;
      transition: all 0.3s ease;
      margin-top: 30px;

      &:hover {
        background: $whiteColor;
        color: $blackColor;
        border: 1px solid $blackColor;
      }
    }

    .client-logos {
      margin-top: 190px;
      display: flex;
      gap: 40px;
      align-items: center;
      flex-wrap: wrap; // Allow logos to wrap

      .client-logo {
        opacity: 0.5;
        transition: opacity 0.3s ease;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .background {
    background-image: url('../../../../../public/images/image-hero-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 480px;
    height: 640px;
  }

  // Media Queries for Responsiveness

  @media(max-width: 1440px) {
    h1{
      font-size: 45px;
    }

    p{
      font-size: 16px;
    }

    button {
      font-size: 16px;
      padding: 25px 35px;
      margin-top: 20px;
    }

    .background{
      min-width: 50px;
    }

    .client-logos {
      margin-top: 50px;
      gap: 10px;
    }
  }

  @media (max-width: 1302px) {
    .information-grid {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .background {
      background-image: url('../../../../../public/images/image-hero-mobile.png');
      order: -1;
      width: 100%;
      height: 600px;
    }

    .text-container {
      margin-right: 0;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 14px;
      }

      button {
        font-size: 14px;
        padding: 19px 29px;
        margin-top: 20px;
      }

      .client-logos {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .information-grid {
      flex-direction: column;
      align-items: center;
    }

    .background {
      order: -1;
      height: 300px;
    }

    .text-container {
      h1 {
        font-size: 35px;
      }

      p {
        font-size: 13px;
      }

      button {
        font-size: 13px;
        padding: 12px 20px;
      }

      .client-logos {
        margin-top: 40px;
        gap: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    .information-grid {
      flex-direction: column;
      align-items: center;
    }

    .background {
      order: -1;
      height: 250px;
    }

    .text-container {
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 12px;
      }

      button {
        font-size: 12px;
        padding: 10px 15px;
      }

      .client-logos {
        margin-top: 30px;
        gap: 5px;
      }
    }
  }
}